<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Posts ({% if posts %}{{ posts|length }}{% else %}0{% endif %})
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="display-4">Posts</div>
        <hr>
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title">
                    <div class="h3">add new post</div>
                </div>
                <div class="card-text">
                    <form action="{{ request.url }}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="title">
                                Title
                            </label>
                            <input 
                                class="form-control"
                                type="text"
                                name="title"
                                placeholder="add a title"
                            >
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea 
                                name="content" id="content" rows="5" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Submit Post
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% if posts %}
        <div class="container">
            {% for post in posts %}
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">
                            {{ post.title }}
                        </h5>
                        <small class="text-muted">
                            {{ post.created_by }} | 
                            {{ post.created_at }}
                        </small>
                        <span id="content">
                            {{ post.content }}
                        </span>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        {% else %}
        <p class="h3 text-secondary">no posts found</p>
        {% endif %}
        
    </div>

    <style>
        #content{
            white-space: pre-line !important;
        }
    </style>
</body>
</html>